@import url('https://fonts.cdnfonts.com/css/seven-segment');

.digital-font {
    font-family: 'Digital-7', 'Seven Segment', 'Orbitron', sans-serif;
    font-size: 2vh;
}

:root {
    --calc-color: rgb(93, 92, 95);
    --back-color: rgb(34, 34, 34);
    --btn-color: white;
    --calc-shadow-color: rgba(65, 65, 65, 0.253);
    --display-color: rgb(206, 213, 224);
    --button-active-color: rgba(255, 166, 0, 0.877);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin: 0;
}


body {
    text-align: center;
    display: flex;        
    justify-content: center; 
    align-content: center;
    background-color: var(--back-color);
    padding: 10vh;
    
}
input {
    font-family: 'Seven Segment', sans-serif;
    box-shadow: 0 -1vh 0 0 var(--calc-shadow-color) inset;
    background-color: var(--display-color);
    font-size: 10vh;
    text-align: right;
    border-radius: 1vh;
}
input::placeholder {
    color: #525252;
}
.calc {
    height: 71vh;
    background-color: var(--calc-color);
    border-radius: 2vh;
    box-shadow: -1vh -2vh 0 0 var(--calc-shadow-color) inset,
                 0 0 2vh 2vh rgba(182, 182, 182, 0.233);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 10vh); 
    grid-template-rows: repeat(6, 10vh);
    gap: 1vh;
    padding: 3vh;
}

.container button{
    font-size: 4.5vh;
    text-align: center;
    border-radius: 1.5vh;
    font-weight: 700;
    background-color: var(--btn-color);
    box-shadow: -0.5vh -0.4vh 0 0 var(--calc-shadow-color) inset;
    transition: all 0.1s;
}

.display {
    grid-column: span 4;
    grid-row: span 1;
    word-wrap: break-word;
    font-size: 8.5vh;
}

.container button:hover {
    cursor: pointer;
    background-color: rgb(255, 166, 0);
}

.container button:active {
    box-shadow: 0.5vh 1vh 0 0 rgba(0, 0, 0, 0.178) inset;
    background-color: var(--button-active-color);
    
}

.calc .display:hover {
    cursor: text;
    font-size: 6.5vh;
}


#equals {
    background-color: orange;
}

#clear{
    font-weight: 800;
}

#clear-digit {
    font-weight: 800;
}
#clear-digit {
    grid-column: span 2;
}

#clear{
    grid-column: span 2;
}
